##################################
####### Instance Settings ########
##################################
# PLACE INSTANCE SETTINGS HERE
## These settings will apply to a specific instance.

port="{{ port }}"
clientport="{{ clientport }}"
sourcetvport="{{ sourcetvport }}"
tickrate="128"

## Game Server Login Token (GSLT): Required
# GSLT is required for running a public server.
# More info: https://docs.linuxgsm.com/steamcmd/gslt
gslt="{{ gslt }}"